*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#081120;
    color:white;
}
header{
    position:fixed;
    top:0;
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:1rem 8%;

    background:rgba(8,17,32,.95);

    backdrop-filter:blur(8px);

    z-index:1000;
}

header img{
    height:55px;
}

nav ul{
    display:flex;
    gap:2rem;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:#7ED321;
}
.hero{
    min-height:90vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    position:relative;

    background:
    linear-gradient(
        rgba(8,17,32,.85),
        rgba(8,17,32,.85)
    ),
    url("../img/devs.jpg");

    background-size:cover;
    background-position:center;
}

.content{
    max-width:900px;
    padding:2rem;
    z-index:2;
}

.content h1{
    font-size:4rem;
    margin-bottom:1rem;
    line-height:1.2;
}

.content span{
    color:#7ED321;
}

.content p{
    font-size:1.3rem;
    color:#d7d7d7;
    margin-bottom:2rem;
}