<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <!-- estilização lateral -->
        </div>
        <div>
            <div>
                <h1>Welcome</h1>
                <h2>Sign Up to continue</h2>
                <div>
                    <!-- botão de alternância de desenvolvedor e cliente normal -->
                </div>
                <form action="" method="post">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="you@example.com">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="********">
                    <!-- remember me e forgot password -->
                    <button type="submit">Sign Up</button>
                </form>
                <p>Already have an account? <a href="#">Log in</a></p>
            </div>
        </div>
    </main>
</body>
</html>