<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - 99Dev</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
</head>

<body>
    {# Exibe mensagens de erro#}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, msg in messages %}
    <div class="error-message {{ category }}">{{ msg }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        <div>
            <div class="brand">
                <span class="brand-icon">&lt;/&gt;</span>
                <span class="brand-name">99 Dev</span>
            </div>

            <div class="hero-content">
                <h1>Correções de código rápidas e sob demanda</h1>

                <p>
                    Conecte-se com desenvolvedores especialistas em minutos. Conclua suas tarefas de programação com rapidez e eficiência.
                </p>
            </div>

            <div class="advantages">
                <div class="advantage-item">
                    <div class="advantage-icon">⚡</div>
                    <h2>Acesso Rápido a desenvolvedores </h2>
                </div>

                <div class="advantage-item">
                    <div class="advantage-icon">👥</div>
                    <h2>Trabalhe com profissionais</h2>
                </div>

                <div class="advantage-item">
                    <div class="advantage-icon">🕒</div>
                    <h2>Pagamentos apenas para o que precisa</h2>
                </div>

            </div>
        </div>
        <div>
            <div>
                <h1>Bem-Vindo</h1>
                <h2>Cadastre-se para continuar</h2>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.dev.label }}
                        {{ form.dev() }}
                    </div>
                    <div>
                        {{ form.pessoa.label }}
                        {{ form.pessoa() }}
                    </div>
                    <div>
                        {{ form.email.label }}
                        {{ form.email(placeholder="you@example.com") }}
                    </div>
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    <div>
                        {{ form.senha.label }}
                        {{ form.senha(placeholder="Brpbjp1@",
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$")}}
                    </div>
                    {% for error in form.senha.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    <button type="submit">Criar</button>
                </form>
                <p>Já tem uma conta? <a href="login">Log in</a></p>
            </div>
        </div>
    </main>
</body>

</html>