<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - 99Dev</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>

<body>
    <main>
        <div>
            <!-- estilização lateral -->
        </div>
        <div>
            <div>
                <h1>Bem-Vindo</h1>
                <h2>Cadastre-se para continuar</h2>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.dev.label }}
                        {{ form.dev() }}
                    </div>
                    <div>
                        {{ form.pessoa.label }}
                        {{ form.pessoa() }}
                    </div>
                    <div>
                        {{ form.email.label }}
                        {{ form.email(placeholder="you@example.com") }}
                    </div>
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    <div>
                        {{ form.senha.label }}
                        {{ form.senha(placeholder="Brpbjp1@")}}
                    </div>
                    {% for error in form.senha.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    <button type="submit">Sign Up</button>
                </form>
                <p>Already have an account? <a href="login">Log in</a></p>
            </div>
        </div>
    </main>
</body>

</html>