<header>
    <input type="text" placeholder="Pesquisar projetos...">

    <a href="/editar-perfil" class="link-perfil">
        <div class="fotoUsuario">
            <div class="moldura-perfil">
                {% if foto_perfil %}
                <img src="{{ url_for('static', filename='uploads/perfil/' ~ foto_perfil) }}" alt="Foto de perfil">
                {% else %}
                <img src="{{ url_for('static', filename='img/avatar.png') }}" alt="Avatar padrão do sistema">
                {% endif %}
            </div>
        </div>
    </a>
</header>