<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>99Dev</title>
    <link rel="shortcut icon" href="../static/img/99dev-Logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <header>
        <div>
            <img src="../static/img/99dev-Logo2.png" alt="Logo 99 dev">
        </div>
        <nav>
            <ul>
                <li><a href="#">Como Funciona</a></li>
                <li><a href="#">Nossos Resultados</a></li>
                <li><a href="#">Feedbacks</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Cadastre-se</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>