<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela login</title>
</head>
<body>
    <main>
        <div>
            <h1>Bem vindo(a)</h1>
            <h3>Logue para continuar</h3>
            <form method="post]">
                <label for="email">Email</label>
                <input type="email" placeholder="exemplo@gmail.com" required>
                <label>Senha</label>
                <input type="password" placeholder="*****" required>
                <button type="submit">Entrar</button>
            </form>
            <p>Don't have an account?</p> <a>Sign up</a>
        </div>
    </main>
</body>
</html>