<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Login - 99Dev</title>
</head>
<body>
    <main>
        <div>
            <div class="logo">
                <i class="fa-solid fa-code"></i>
                <h1>99 Dev</h1>
            </div>
            
            <div class="icone">
                <i class="fa-solid fa-bolt-lightning"></i>
                <h2>Acesso Rápido a desenvolvedores</h1>
            </div>

            <div class="icone">
                <i class="fa-solid fa-user-check"></i>
                <h2>Trabalhe com profissionais</h1>
            </div>
            <div class="icone">
                <i class="fa-regular fa-clock"></i>
                <h2>Pagamentos apenas para o que precisa</h1>
            </div>
        </div>
        <div class="formulario">
            <h1>Bem vindo(a)</h1>
            <h2>Logue para continuar</h2>
            <form action="" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="exemplo@gmail.com" id="email" required>
                <label for="senha">Senha</label>
                <input type="password" name="password" placeholder="******" id="senha" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$" required>
                <button type="submit">Entrar</button>
            </form>
            <p>Não tem uma conta?
                <a href="cadastro">Cadastre-se</a>
            </p> 
        </div>
    </main>
</body>
</html>