<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title> Nome da Pessoa - 99Dev</title>
</head>
<body>
    <main>
         <!-- sidebar de navegação -->
        <div class="left-panel">
            <div class="logo">
                <i class="fa-solid fa-code"></i>
                <h1>99 Dev</h1>
            </div>


            <nav class="menu">
                <ul>
                    <li><a href="#"><i class="fa-solid fa-house"></i> Início</a></li>
                    <li><a href="#"><i class="fa-solid fa-wallet"></i> My Earnings</a></li>
                    <li><a href="#"><i class="fa-solid fa-user"></i> Profile</a></li>
                </ul>
            </nav>
        </div>


        <!-- Seção principal de perfil.html -->
        <div class="right-panel">
            <div class="header">
                <h1>Avaliable Tasks</h1>
                <div class="toggle-online">
                    <span for="toggle" class="status">You're Offline</span>
                    <!-- Posteriormente, criar o toggle real -->
                    <input type="checkbox" id="toggle" class="toggle-checkbox">
                </div>
            </div>        
        </div>
    </main>
</body>
</html>